<h1>ร้านเกล็ดนทีโปรแกรมเมอร์</h1>
<p>บริการพัฒนาระบบงานด้าน Web Application Mobile Applicationและอื่นๆ</p>
<p>สอนพิเศษให้กับนักเรียน นักศึกษา ประชาชนทั่วไป ที่อยากเป็นโปรแกรมเมอร์</p>
<p>รับพัฒนาให้กับร้านค้า บริษัท ธนาคาร หน่วยงานรัฐและเอกชน</p>
<p>ทั้งในและต่างประเทศ</p>
<p>โดยโปรแกรมเมอร์ที่เรียนและทำงานด้านโปรแกรมเมอร์โดยตรง</p>
<p>ที่นี่ที่เดียว</p>